# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

notes.txt
lib/

!out/GLUSD.sol/GLUSD.json
!out/RevenueSplitter.sol/RevenueSplitter.json
!out/ERC20.sol/ERC20.json